<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="@projectName@"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
            by default -->
        <encoder>
            <pattern>%d [%thread] %-5level [%X{traceId},%X{spanId},%X{parentSpanId}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Daily Rolling File Appender that compresses old files -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${APP_NAME}/${APP_NAME}.log</file>


        <rollingPolicy name="file" class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${APP_NAME}/his/${APP_NAME}%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d [%thread] %-5level [%X{traceId},%X{spanId},%X{parentSpanId}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.app" level="INFO" />

    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</configuration>